$color-primary: #546e7a;
$color-primary-light: #819ca9;
$color-primary-dark: #29434e;

$color-secondary: #d81b60;
$color-secondary-light: #ff5c8d;
$color-secondary-dark: #a00037;

$color-gray: #9E9E9E;
$color-gray-light: #E0E0E0;
$color-gray-dark: #616161;
$color-gray-bg: #f2f2f2;