.btn {
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  border-radius: 0;
  min-width: 150px;
  max-width: 100%;
  letter-spacing: 1px;
}

// Arrow animate on expand
button[data-toggle="collapse"] {
  .material-icons {
    transition: all .3s ease-out;
  }

  &[aria-expanded="true"] {
    .material-icons {
      transform: rotate(180deg);
    }
  }
}