.card {
  $padding: 30px;

  @include shadow(2);
  @include border-radius(1);
  background-color: #fff;
  display: block;

  .card-header {
    padding: ($padding / 2) $padding;
    border-bottom: 1px solid $color-gray-light;

    .header {
      font-family: Nunito, serif;
      margin: 0;
      font-size: 1.4rem;
    }
  }

  .card-body {
    padding: $padding;
  }
}

a.card {
  color: #333;
  text-decoration: none;
  transition: all .3s ease-out;

  &:hover {
    @include shadow(3);
    transform: translateY(-5px);
  }
}